@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>The <strong>/css/styles.css</strong> stylesheet was rendered using <strong>BuildWebCompiler2022</strong> package</p>
</div>
